<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download Your Selfie</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }
    img {
      margin-top: 20px;
      width: 300px;
      height: 300px;
    }
    a {
      display: block;
      margin-top: 20px;
      text-decoration: none;
      color: white;
      background-color: #007BFF;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 18px;
    }
    a:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <h1>tu foto!</h1>
  <img src="<%= selfieUrl %>"/>
  
  <a href="<%= selfieUrl %>" download="<%= filename %>">bajar foto</a>
</body>
</html>
